.songs
  -@songs.each do |song|
    .songs-boxes.col-lg-2.col-md-6
      .panel.panel-primary
        .panel-heading{style: "background-image: url(#{song.cover_url})"}
        %a{href: song.youtube_url}
          .panel-footer
            %span.pull-left=song.title
            %span.pull-right
            .clearfix

.apple_pagination.col-md-12
  =will_paginate @songs

#yt_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "yt_modalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-body
        %iframe{allowfullscreen: "", frameborder: "0", height: "300", width: "400"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
