.navbar.navbar-fixed-bottom
  %footer.text-center
    .footer-above
      .container
        .row
          .footer-col.col-md-12
            %h5 Share it with your friends
            %ul.list-inline
              %li
                %a.btn-social.btn-outline{href: "#"}
                  %i.fa.fa-fw.fa-facebook
              %li
                %a.btn-social.btn-outline{href: "#"}
                  %i.fa.fa-fw.fa-google-plus
              %li
                %a.btn-social.btn-outline{href: "#"}
                  %i.fa.fa-fw.fa-twitter
              %li
                %a.btn-social.btn-outline{href: "#"}
                  %i.fa.fa-fw.fa-linkedin
              %li
                %a.btn-social.btn-outline{href: "#"}
                  %i.fa.fa-fw.fa-dribbble
